<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>도서목록</h2>
	<hr>
	<a href="insertBook.html">등록</a><br>
	<table border="1" width="80%">
		<thead>
			<tr>
				<th>도서번호</th>
				<th>도서명</th>
				<th>출판사</th>
				<th>가격</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "b:${list}">
				<td th:text="${b.bookid}"></td>
				<td th:text="${b.bookname}"></td>
				<td th:text="${b.publisher}"></td>
				<td th:text="${b.price}"></td>
				<td>
					<a th:href="@{'/updateBook/'+${b.bookid}}" th:text="수정"></a>
					<a th:href="@{'/deleteBook/'+${b.bookid}}" th:text="삭제"></a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>