<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>도서상세</h2>
	<hr>
	<p>도서번호: <span th:text="${book.bookid}"></span></p>
	<p>도서이름: <span th:text="${book.bookname}"></span></p>
	<p>출판사: <span th:text="${book.publisher}"></span></p>
	<p>가격: <span th:text="${book.price}"></span></p>
	<hr>
	<a th:href="@{'/updateBook/'+${book.bookid}}" th:text="수정"></a>
	<a th:href="@{'/deleteBook/'+${book.bookid}}" th:text="삭제"></a>
</body>

</html>